backend/schemas/livre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  
  <xs:element name="livres">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="livre" type="livreType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="livreType">
    <xs:sequence>
      <xs:element name="isbn" type="xs:string"/>
      <xs:element name="titre" type="xs:string"/>
      <xs:element name="auteur" type="xs:string"/>
      <xs:element name="editeur" type="xs:string"/>
      <xs:element name="anneePublication" type="xs:gYear"/>
      <xs:element name="genre" type="xs:string"/>
      <xs:element name="disponible" type="xs:boolean"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>